html {
	overflow-y: scroll;
}

body {
	background: #151515 url("../images/bkg.png") 0 0;
	margin-top: 12px;
}

header > div {
	border-bottom: 1px solid #73d216;
	padding-bottom: 24px;
	margin-bottom: 24px;
	
	background-image: url('../images/vanubi.png');
	background-repeat: no-repeat;
	background-size: 5.5em;
	background-position: 20em 0;
}

header h1 {
	color: #73d216;
	margin: 0;
}

#downloads {
	margin-top: 1em;
}

#downloads * {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.btn-github .icon {
	opacity: 0.6;
	background: url("../images/blacktocat.png") 0 0 no-repeat;
}


.topic-preview {
	display: inline-block;
	width: 30%;
	height: 6em;
	font-size: 12px;
	background: black;
	margin: 1% 1% 1% 1%;
	padding: 1em 1em 1em 1em;
	border: 1px solid black;
	
	transition: background 0.2s;
	-webkit-transition: background 0.2s;
}

.topic-preview:hover {
	background-color: green;
}

.topic-preview h2 {
	font-size: 1.5em;
	display: block;
	padding: 0;
	margin: 0 0 0.5em;
}

.topic-preview caption {
	color: gray;
}

#search form {
	max-width: 95%;
	margin: 0 auto;
}

#topics {
	max-width: 95%;
	margin: 0 auto;
}

pre {
	border: none;
	border-radius: 0;
}