VanubiUIEditorView {
	-GtkWidget-cursor-aspect-ratio: 0.1;
	-GtkWidget-cursor-color: white;
}

VanubiUIEditorView.caret:selected {
	color: black;
	background-color: white;
}

VanubiUIEditorInfoBar {
	background: #1b2e35;
}

VanubiUIEditorInfoBar GtkLabel {
	color: #babdb6;
}

VanubiUIEditorInfoBar.nonfocused {
	background: black;
}

VanubiUIEditorInfoBar.nonfocused GtkLabel {
	color: #555753;
}

VanubiUIEditorView {
	background: black;
}

.filename {
	font-weight: bold;
}

VanubiUIBar GtkEntry {
	color: white;
	border: 1px solid #204a87;
	background: black;
	padding: 2px 3px 2px 3px;
}

VanubiUIBar GtkEntry:selected {
	background: #001522;
}

VanubiUIBar GtkEntry.error {
	background: #720000;
}

VanubiUIAboutBar GtkTextView {
	background: #000000;
}

VanubiUICompletionBarCompletionBox GtkLabel {
	padding: 2px 6px 2px 6px;
	color: white;
}

VanubiUIGrepView {
	background: black;
	color: white;
}

VanubiUIManager {
	background: black;
	color: white;
}

VanubiUIManager VanubiUICompletionBarCompletionBox {
	background: black;
	color: white;
}

VanubiUIManager VanubiUIStatusBar {
	color: #729fcf;
	background: black;
	font-weight: bold;
}

VanubiUIManager GtkEventBox {
    background: black;
}

VanubiUIManager VanubiUIStatusBar.error {
	color: red;
}

GtkTreeView {
	background: black;
	color: white;
}

GtkTreeView:selected {
	background: #204a87;
}