VanubiEditorView {
	-GtkWidget-cursor-aspect-ratio: 0.1;
	-GtkWidget-cursor-color: white;
}

VanubiEditorView.caret:selected {
	color: black;
	background-color: white;
}

VanubiEditorInfoBar {
	background: #1b2e35;
}

VanubiEditorInfoBar GtkLabel {
	color: #babdb6;
}

VanubiEditorInfoBar.nonfocused {
	background: black;
}

VanubiEditorInfoBar.nonfocused GtkLabel {
	color: #555753;
}

.filename {
	font-weight: bold;
}

VanubiBar GtkEntry {
	color: white;
	border: 1px solid #204a87;
	background: black;
	padding: 2px 3px 2px 3px;
}

VanubiBar GtkEntry.error {
	background: #720000;
}

VanubiAboutBar GtkTextView {
	background: #000000;
}

VanubiCompletionBarCompletionBox GtkLabel {
	padding: 2px 6px 2px 6px;
	color: white;
}

VanubiGrepView {
	background: black;
	color: white;
}

VanubiManager {
	background: black;
	color: white;
}

VanubiManager VanubiCompletionBarCompletionBox {
	background: black;
	color: white;
}

VanubiManager VanubiStatusBar {
	color: #729fcf;
	background: black;
	font-weight: bold;
}

VanubiManager GtkEventBox {
    background: black;
}

VanubiManager VanubiStatusBar.error {
	color: red;
}

GtkTreeView {
	background: black;
	color: white;
}

GtkTreeView:selected {
	background: #204a87;
}